
.form {
  display: flex;
  align-items: justify;
  padding: 2rem;
  background: var(--white);
  margin-bottom: 1.5rem;
  border-radius: 4px;
  &:last-child {
    margin-bottom: 0;
  }
  border: 1px solid peru;
}

.content__wrapper {
  background-color: var(--bg-2);
  padding: 1rem;
  border-radius: 12px;
  display:block;
  border: 1px solid grey;
  overflow: auto;
}

.todoText {
  word-break: break-all;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--black-2);
  flex-basis: 10%;

}

.todoInput{
  flex-basis:15%;
  margin-right: 5rem;
}

@media (max-width: 500px){
  .content__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .todoText{
    flex-basis:100%;
    border-right:0;
    border-left:0;
  }
  .todoInput{
    margin-right: 0rem;
    margin-bottom: 0.8rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    object-fit:contain;
    overflow:auto

  }

}



